@import "tailwindcss";

:root {
  --bg-primary: #fafafa;
  --text-main: #171717;
  --text-muted: #737373;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-main);
  /* Use a system-ui stack for body and a Serif for headings */
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}
